.header-wrapper {
    background-color: #ffffff;
}
.header-container {
    background-color: #9eded6;
    max-width: 1110px;
    padding: 35px 0px;
    font-size: 0;
    margin: auto auto 25px;

}
.nav-menu a {
    text-decoration: none;
    font-weight: 700;
}
.nav-menu li {
    display: inline-block;
    font-size: 16px;
    margin-right: 15px;
}