{% extends 'index.html' %}

{% block content %}
<main class="container mx-auto py-8 flex justify-center">
    <div class="bg-white rounded-lg shadow-lg p-8 text-center">
        <h2 class="text-3xl font-bold mb-6">Quizzes: {{ category.name }}</h2>
        <ul class="space-y-4">
            {% for quiz in category.quizzes.all %}
                <li>
                    <a href="{% url 'quiz:quiz' quiz.pk %}" class="text-blue-800">{{ quiz.title }} ({{ quiz.get_level_display }})</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}
